<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <!-- <app-navbar></app-navbar>
  <app-main-page></app-main-page> -->
  <!-- <div class="form">
   <div> 
    <mat-form-field>
     <mat-label>Continents</mat-label>
     <mat-select [(value)]="selectedContinent" (selectionChange)="getCountries($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let continent of formData" [value]="continent.Continent">{{ continent.Continent }}</mat-option>
     </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
     <mat-label>Countries</mat-label>
     <mat-select [disabled]="!ifContinentSelected">
      
      <mat-option *ngFor="let continent of filteredFormData; index as i" [value]="continent.Countries[i]">{{continent.Countries[i] }}</mat-option>
     </mat-select>
    </mat-form-field>
  </div>
 </div>
 <mat-form-field>
  <mat-label>Notice Period</mat-label>
  <mat-select [(value)]="selected" placeholder="Mode">
    <mat-option value="943">60 days</mat-option>
    <mat-option value="944">90 days</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{selected}}</p> -->

<form [formGroup]="myForm" class="example-full-width" (ngSubmit)="formSubmit()">
    <h1>Reactive Forms</h1>
    <hr>
    <!-- <mat-form-field class="example-full-width">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field> -->
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName">
        <mat-error>
          First Name field required!!
        </mat-error>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field></td>
    </tr></table>

    <div formGroupName="address">

      <h2>Address</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Street</mat-label>
        <input matInput placeholder="Ex. 1st Cross Street" formControlName="street">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. Chennai" formControlName="city">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. TamilNadu" formControlName="state">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Pin Code</mat-label>
        <input matInput placeholder="Ex. 600083" formControlName="pincode">
      </mat-form-field>
    
    </div>

    <div formGroupName="contact">

      <h2>Contact Details</h2>
      <div class="example-full-width">
      
         <div formArrayName="phoneNo">
          <div *ngFor="let phone of phoneForms.controls; let i = index" [formGroupName]="i">
                <mat-form-field class="example-full-width">
                  <mat-label>Country Code</mat-label>
                  <input matInput placeholder="Ex. +91" formControlName="countryCode">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Number</mat-label>
                  <input matInput placeholder="Ex. 8048103013" formControlName="number">
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="addPhone()">Add Phone</button>
          </div><br>
          <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. abc@gmail.com" formControlName="email">
              <mat-error>
                Email field required!!
              </mat-error>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              Password field required!!
            </mat-error>
          </mat-form-field></td>
        </tr></table>
      </div>
    </div>
    <div class="submit-btn">
      <button mat-raised-button color="primary" [disabled]="myForm.invalid">Submit</button>
    </div>
    <!-- <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table> -->
  
</form>

</body>
</html>
