<div class="container">
    <div class="contents">
        <div class="header-content">
            <h2>Subscribe Now & Get All Premium Benefits</h2>
        </div>
        <div class="body-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, sit magnam suscipit facilis quis ratione dolor velit. Aut, numquam fugiat?</p>
        </div>
        <div class="subscribe">
            <li class="nav-link"><button class="header-catalog" id="subscribe_btn" (click)="subscribe()"><span>Subscribe</span></button></li>
        </div>
    </div>
</div>
